<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- 当前使用的 账套ID  -->
		<add key="X-KDApi-AcctID" value="6244701c616bff" />
		<!--<add key="X-KDApi-AcctID" value="63185f9ac730e7"/>-->
		<!-- 第三方系统登录授权的用户  -->
		<add key="X-KDApi-UserName" value="demo" />
		<!--<add key="X-KDApi-UserName" value="朱祚亮"/>-->
		<!-- 第三方系统登录授权的应用ID  -->
		<add key="X-KDApi-AppID" value="225649_7ZbM6dDO0qrVXXUKX/Xs09wH2u5d4rLE" />
		<!--<add key="X-KDApi-AppID" value="234803_XZ4Owait5mAW1+/EQ25MzaUH6j0Y1tkO"/>-->
		<!-- 第三方系统登录授权的应用密钥  -->
		<add key="X-KDApi-AppSec" value="2bb1d972f3574a46aebee03cdc80aeae" />
		<!--<add key="X-KDApi-AppSec" value="8439b36501df4f6185f521781d6b7328"/>-->
		<!-- 服务Url地址  -->
		<add key="X-KDApi-ServerUrl" value="http://172.17.55.175/k3cloud/" />
		<!--<add key="X-KDApi-ServerUrl" value="http://java10pool02045/k3cloud/"/>-->

	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
