# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Kingdee.CDP.WebApi.SDK.Test.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
